name: build
on: push

jobs:
  publish:
    name: Publish pdf
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [0.0.4]
    container:
      image: amutake/satysfi:latest
    steps:
      - uses: actions/checkout@v1
      - name: Install font
        run: |
          export HOME=/root
          eval $(opam env)
          opam update
          opam install satysfi-fonts-asana-math
          satyrographos install
      - name: Build with SATySFi
        run: |
          export HOME=/root
          eval $(opam env)
          satysfi ./examples/example.saty
      - name: Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: example
          path: ./examples/example.pdf
